body{
    background-color: #F2E6D0;
    font-family: 'Inria Sans', sans-serif;
}

.headHome{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container{
    display: flex;
    padding-inline: 150px;
    margin-top: 50px;
}

.imgLogo{
    margin-right: 500px;
}

.headWords{
    color: #023859;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.title{
    color: #023859;
    text-align: start;
    font-size: 32px;
    padding-top: 100px;
}

.text{
    color: #545247;
    text-align: start;
    font-size: 18px;
    font-weight:300;
}